#bg{
    background-color: #0089D0;
}

/* estilos carteira pessoa fisica */

.carteira{
    width: 1229px;
    height: 379px;
    background-color: #0089D0;
    -webkit-print-color-adjust: exact;
}
.titulo{
    font-size: 19px;
    line-height: 23px;
    color: #fff;
}

.texto{
    font-size: 15px;
    line-height: 25px;
    color: #fff;
}
.text-dados {
    font-size: 18px;
    line-height: 23px;
    color: #001E73;
    -webkit-print-color-adjust: exact;
}

.lado-esquerdo-carteira{
    border-right: 1px solid #fff;
    height: 379px;
    -webkit-print-color-adjust: exact;
}

.lado-direito-carteira {
    height: 379px;
}
.lado-azul{
    background-color: #0089D0;
    -webkit-print-color-adjust: exact;
    width: 239px;
}
.lado-branco{
    background-color:#fff;
    height: 379px;
}
.img-enfeite{
    padding-top: 236px;
}
.titular-carteira {
    font-size: 20px;
    color: #fff;
}
.cargo-titular {
    font-size: 18px;
    color: #fff;
}
.img-user{
    width: 145px;
}
.img-qrcode{
    width: 96px;
}

/* estilos carteira pessoa juridica */
.img-logo-empresa{
    width: 150px;
}
.img-user-empresa{
    width: 71px;
}

/* estilos pagina da pessoa fisica */
.pagina-pessoa-fisica{
    height: 800px;
}
.titulo-pagina-pessoa-fisica{
    font-size: 42px;
    line-height: 23px;
    color: #001E73;
    -webkit-print-color-adjust: exact;
}
.text-campos-PF{
    font: 24px;
    color: #001E73;
    -webkit-print-color-adjust: exact;
}

.img-user-empresa-page{
    width: 140px;
}
.margem{
    padding-top: 480px;
}
.margem-pessoa-fisica {
    padding-top: 680px;
}

/* tipografias: */
.prometo-bold{
    font-family: prometo, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.prometo-regular {
    font-family: prometo, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.prometo-XBold{
    font-family: prometo, sans-serif;
    font-weight: 800;
    font-style: normal;
}
.prometo-Light{
    font-family: prometo, sans-serif;
    font-weight: 300;
    font-style: normal;
}





